html {width:100%;text-align:center;}
body {font-size: .85em;font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;color: #fff;background-color: #fff;width:980px;margin:0 auto;text-align:left;}
header, footer, nav, section {display: block;}
.gizli {display:none;}
.gorunur {display:block;}
.temizle {clear:both;}
strong {font-weight:bold;}
a,a:link,a:active,a:visited {color:#fff;}
a:hover {color:#fff;text-decoration:underline;}
a:hover div {text-decoration:underline;}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {border: 1px solid #ddd;padding: 0 1.4em 1.4em 1.4em;margin: 0 0 1.5em 0;}
legend {font-size: 1.2em;font-weight: bold;}
textarea {min-height: 75px;}
.editor-label {margin: 1em 0 0 0;}
.editor-field {margin: 0.5em 0 0 0;}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {color: #f00;}
.field-validation-valid {display: none;}
.input-validation-error {border: 1px solid #f00;background-color: #fee;}
.validation-summary-errors {font-weight: bold;color: #f00;}
.validation-summary-valid {display: none;}

/* site iskeleti
-----------------------------------------------------------*/
#header {background-color:#333;}
#body {overflow:hidden;min-height:500px;}
#footer {background-color:#000;height:75px;}
#banner {height:100px;line-height:100px;font-size:40px;font-weight:bold;color:#fff;padding-left:20px;}
#banner a {color:#fff;}
#banner a:hover {color:#fff;text-decoration:none;}

/* ana menu
-----------------------------------------------------------*/

#menu {background-color:#000;}
#menu ul{padding:0;margin:0;}
#menu ul li{list-style:none;display:inline-block;}
#menu ul li.diger {width:70px;text-align:center;}
#menu ul li a,#menu ul li a:active,#menu ul li a:visited{text-decoration:none;padding:0 5px 0 5px;height:30px;line-height:30px;display:block;color:#fff;font-weight:bold;}
#menu ul li a:hover{background-color:#666;}
#menu ul li:hover ul.alt_menu{background-color:#666;display:block;}
#menu ul li ul.alt_menu {display:none;position:absolute;width:200px;margin-left:-130px;z-index:99;}
#menu ul li ul.alt_menu li {display:list-item;text-align:left;}
#menu ul li ul.alt_menu li a:hover{background-color:#000;}

/* ana sayfa
-----------------------------------------------------------*/

.vitrin_sol, .vitrin_orta, .vitrin_sag {height:100%;height:340px;}

.vitrin {height:350px;}
.vitrin_sol {margin:5px 0 5px 0;float:left;width:200px;}
.vitrin_orta {margin:5px;float:left;width:530px;}
.vitrin_sag {margin:5px 0 5px 0;float:left;width:240px;}

.sol_resim_tutucu {margin-bottom:5px;overflow:hidden;}
a.sol_resim_linki {display:block;position:relative;height:110px;}
a.sol_resim_linki:hover {border-left:7px solid #000;}
a.orta_resim_linki img{width:100%;height:110px;}
a.sol_resim_linki .sol_link_text_bg {position:absolute;width:199px;height:40px;bottom:0;background-color:#000;opacity: 0.5;filter: alpha(opacity=50);}
a.sol_resim_linki .sol_link_text{position:absolute;width:195px;bottom:0;z-index:10;padding:0 5px 0 5px;color:#fff;height:35px;overflow:hidden;font-weight:bold;}

.orta_resim_tutucu {overflow:hidden;}
a.orta_resim_linki {display:block;position:relative;height:310px;}
a.orta_resim_linki img{width:100%;height:100%;}
a.orta_resim_linki .orta_link_text_bg {position:absolute;width:560px;height:80px;bottom:0;background-color:#000;opacity: 0.5;filter: alpha(opacity=50);}
a.orta_resim_linki .orta_link_text{position:absolute;width:555px;bottom:0;z-index:10;padding:0 5px 0 5px;color:#fff;height:70px;overflow:hidden;font-weight:bold;font-size:20px;}

.yazarlar {}
.sag_resim_tutucu {height:50px;border-bottom:1px solid #ccc;padding:8px 5px 9px 5px;background-color:#333;}
.sag_resim_linki {text-align:right;}
.sag_link_text {float:left;width:175px;height:50px;}
.sag_link_text .yazar_adi{font-size:11px;font-weight:bold;color:#ccc;}
.sag_link_text .haber_baslik{font-size:11px;font-weight:bold;color:#fff;}
.yazar_resim {float:right;width:55px;}
.yazar_resim img {height:50px;width:50px;}

.slider {}
.slider_nav_bar {height:30px;line-height:30px;text-align:center;background-color:#000;}
.slider_nav_bar .nav_bar_button {width:25px;float:left;border-right:1px solid #ccc;}
.slider_nav_bar .nav_bar_button a {font-weight:bold;color:#fff;display:block;width:100%;height:100%;}
.slider_nav_bar .nav_bar_button a:hover {background-color:#666;}
.slider_nav_bar .nav_bar_button a.aktif {background-color:#666;}

.icerik {}
.icerik_sol {width:735px;float:left;}
.icerik_sag {width:240px;float:right;}

.haber_detay {margin:5px 0 10px 0;overflow:hidden;color:#fff;}
.haber_detay .haber_detay_icerik{width:620px;float:left;background-color:#333;}
.haber_detay .haber_detay_icerik .haber {margin:10px 15px 10px 15px;}
.haber_detay .haber_detay_sag_menu{width:354px;float:right;min-height:500px;background-color:#333;}

.detay_baslik {font-weight:bold;font-size:17px;padding: 10px 5px 10px 0;border-bottom:1px solid #999;margin-bottom:15px;}
.detay_resim {margin: 10px 0 20px;}
.detay_resim img {width:100%; height:300px;}
.detay_tarih {margin-bottom:20px;font-size:11px;color:#999;}
.detay_aciklama {margin-bottom:20px;}
.detay_icerik {}
.detay_icerik p{margin-bottom:20px;font-size:13px;line-height:18px;}

.yazar_detay {overflow:hidden;padding:10px;}
.yazar_detay .yazar_detay_resim {float:left;}
.yazar_detay .yazar_detay_resim img {width:100px;height:100px;}
.yazar_detay .yazar_detay_ad{float:left;padding:10px;font-weight:bold;}
.yazar_detay .yazar_detay_eposta {padding:10px 0 10px 0;font-weight:normal;font-size:12px;}

.icerik_sol .kategori_haberler {overflow:hidden;color:#fff;}

.kategoriler {clear:both;min-height:200px;overflow:hidden;margin:0 0 5px 0;background-color:#333;padding-bottom:10px;}
.kategoriler .kategroi_ad{padding:15px 20px 10px 10px;font-weight:bold;border-bottom:1px solid #ccc;margin:0 10px 0 10px;}
.kategoriler .haber{width:170px;float:left;padding:10px 0 10px 10px;}

a.kategori_haber_link{display:block;color:#fff;font-size:12px;font-weight:bold;}
a.kategori_haber_link img {width:100%;height:100px;border:1px solid #fff;}
a.kategori_haber_link .haber_baslik {padding:5px 0 5px 0;line-height:14px;color:#ccc;}
a.kategori_haber_link .haber_aciklama {padding:0 0 5px 0;height:70px;overflow:hidden;font-weight:normal;line-height:15px;}

.en_cok_okunanlar {background-color:#333;}
.en_cok_okunanlar .en_cok_okunan_baslik {color:#fff;padding: 15px 10px 10px 5px;font-weight: bold;border-bottom: 1px solid #ccc;margin: 0 5px 0 5px;}
.en_cok_okunanlar .en_cok_okunan_haber {overflow:hidden;padding:5px;border-bottom:1px solid #ccc;}
.en_cok_okunanlar .en_cok_okunan_link {color:#fff;font-weight:bold;font-size:12px;display:block;}
.en_cok_okunanlar .en_cok_okunan_resim {float:left;}
.en_cok_okunanlar .en_cok_okunan_resim  img{width:90px;height:70px;}
.en_cok_okunanlar .en_cok_okunan_haber_baslik {float:right;width:130px;overflow:hidden;}

.kategori_detay {}
.kategori_detay_sol {width:735px;float:left;margin-top:5px;}
.kategori_detay_sag {width:240px;float:right;margin-top:5px;}
.kategori_detay .slider {}
.kategori_detay .icerik {}

.kategori_detay .slider_navbar{width:100px;float:left;}
.kategori_detay .slider_icerik{width:630px;float:right;}

.kategori_detay .slider_navbar_button{display:block;height:70px;margin-bottom:5px;}
.kategori_detay .kategori_detay_resim_linki {display:block;}
.kategori_detay .slider_navbar_button .kategori_detay_resim_linki:hover {border-left:7px solid #000;height:70px;}
.kategori_detay .slider_icerik .kategori_detay_resim_linki {position:relative;height:370px;}
.kategori_detay .kategori_detay_resim_linki img {width:100%;height:100%;}
.kategori_detay .slider_resim_tutucu{height:370px;}

.kategori_detay_link_text_bg {position:absolute;width:630px;height:80px;bottom:0;background-color:#000;opacity: 0.5;filter: alpha(opacity=50);}
.kategori_detay_link_text {position:absolute;width:625px;bottom:0;z-index:10;padding:0 5px 0 5px;color:#fff;height:70px;overflow:hidden;font-weight:bold;font-size:20px;}

